
.Conductor {
  background-color: #2c3e50;
  height: 100%;
  transition: background-color 1.0s;

  .chart {
    padding-top: 120px;
  }

  .row {
    position: relative;
  }

  .emotion {
    padding-top: 120px;
    text-align: left;
    color: white;
    font-weight: bold;

    .ja {
      margin-top: 30%;
      font-size: 120px;
    }

    .en {
      font-size: 40px;
    }
  }

  .adlib_mode {
    color: white;
    text-align: center;
    font-size: 80px;
    height: 120px;
    width: 500px;
    margin-left: calc(50% - 250px);
    margin-top: 40px;
    border: solid 4px white;
  }
}