.Controller {
  padding-top: 16px;

  .btn {
    margin: 0 4px 8px;
  }

  .feat-table {

    td {
      padding: 0;
    }

    .bar-body {
      width: 120px;
      height: 16px;
      border: 1px solid #1abc9c;
    }

    .bar-body-inner {
      background-color: #1abc9c;
      height: 100%;
    }
  }

  .filter {
    p.title {
      font-weight: bold;
    }
  }

}